* { 
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background: #fff;
	color: #000;
    font-family: poppins ;
    }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 ,p ,.p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
h1{
    font-weight: 500;
}
h2{
    font-weight: 500;
}
#main{
    min-height: 100vh;
    padding: 0% 5%;
}
#nav{
    background-color: #fff;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 5px 0;
    gap: 4vw;
}

.ri-menu-line{
    display: none;
}
#nav a{

    color: grey ;
    font-size: 1.5vw ;
    font-weight: 400;    
    text-decoration: none;
}
#nav a:hover{
    color: #ff375a;
    text-decoration: underline;
}

#hero{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:#000;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    min-height: 40vh;    
    align-items: center;   
    border-radius: 20px;
    padding: 3vw;
    /* justify-content: space-evenly; */
    gap: 3vw;
 }
.hero-logo{
    /* margin-top: 5%; */
    
}
.hero-logo img{
    width: 35vw;
}
.hero-soon{
    /* width: 100%; */
}
.hero-soon img{
   width: 30vw;
}
.hero-text{
    font-size: 1.2vw;
}
#hero-vid{
    position: absolute;
    margin-bottom: 100px;
    display: none;
}
#hero-vid video{
    width: 30vw;
    
}

 
#about-section{
    min-height: 30vh;
    padding: 2vw 0;
    /* margin-bottom: 5vw;   */
}
#about-section h1{
    font-size: 2.5vw;
    color: #ff375a;
}

.about-content{
    height: 100%;
    display: flex;
    align-items: end;
    /* justify-content:space-between; */
    gap: 15vw;
    /* padding: 1vw 0; */
    
}
.about-content img{
    /* padding: 2vw; */
    width: 20vw;
    height: 20vw;
    /* margin-left: 5vw; */
}
.about-content p{
    /* width: 50%; */
    font-size: 1.1vw;
    text-transform: capitalize;
    
}
.about-content p span{
    font-weight: 600;
    color: #ff375a;
}
#Impact-section{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 3vw;
    /* overflow: hidden; */
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
#Impact-section h1{
    text-align: left;
    font-size: 2vw;
    text-transform: uppercase;
}
#impact-1{

    height: 100%;
}
#impact-2{
    height: 100%;
 display: none;
}

.impact{
    display: flex;
    /* flex-direction:row-reverse; */
    gap: 15vw;
    padding: 1.5vw;
    height: 30%;  
    margin: 1vw; 
}
.impact:nth-child(odd){
    display: flex;
    flex-direction:row-reverse;
}

.impact img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    /* margin-left: 2vw;  */
  
}
.impact-img{
    width: 50%;
}
.impact-text{
        width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.impact-text h2{
    color: #ff375a;
    font-size: 2vw;
}
.impact-text p{
    font-size: 1.5vw;
}

#impact-nav{
    position: absolute;
    margin-left: 80%;
    margin-top: 2vw;
   }
#impact-nav i{
    background-color: #fff;
    font-size: 1.5vw;
    color: #ff375a;
    border-radius: 50%;

}
i:hover{
    cursor: pointer;
}
#spirit{
    /* background-color: black; */
    width: 100%;
  min-height: 50vh;
  color: black;
  padding: 0vw;
  overflow: hidden;
  border-radius: 20px;
  text-transform: capitalize;
  margin-top: 3vw;
}
    

#spirit h1{
    color: #ff375a;
    font-weight: 500;
}
#spirit-vid{
    margin-top: 3vw;
    display: flex;
    /* gap: 15vw; */
    height: 100%;
    align-items: start;
    justify-content: space-between;
    
}
#spirit-vid video{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 10px;

}
#spirit-vid p {
    text-align: left;
    font-size: 2.0vw;
  margin-left: 10vw;
}
#spirit-vid p span{
    color: #ff375a;
    text-decoration: solid;
}
#contact-section{
    display: flex;
    min-height: 60vh;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    padding: 1vw;
    gap: 10vw;
}
#contact-section h1{
    position: absolute;
    font-size: 3vw;
    
}
#contact-left{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    
}
#contact-left img{
    width: 60vw;
    height: 30vw;
    align-items: center;
  justify-content: center;
}
#contact-right{
    width: 70%;
    color: #fff;
}

.form {
    width: 90%;
    height: 90%;
    background: #ff375a;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    /* margin: calc(50vh - 220px) auto; */
    padding: 20px 30px;
    /* max-width: calc(100vw - 40px); */
    box-sizing: border-box;
      position: relative;
      font-size: 3vw;
  }
  
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2;
  }
  input:focus {
    border-bottom: 2px solid #78788c;
  }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    /* color: #5a5a5a; */
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 100px 0 0;
    
    border: 2px solid #78788c;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background: #78788c;
    color: #fff;
  }
  /* div {
    content: "Hi";
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
  }
 
   */

   #footer{

    height: 50%;
    background-color: #000000;
    border-radius: 20px;
    font-size: medium;
    margin-top: 20px;
    color: white;
    padding: 2vw 6vw;
    /* display: flex; */
    /* gap: 10vw; */
   }
   #address{
    display: flex;
    /* gap: 2vw; */
    justify-content: space-between;
    align-items: flex-start;
      }
    #address h1{
        text-decoration: underline;
    }
    #head-office{
        width: 45%;
          
    }
    #head-office p{
        margin-top: -30px;
    }
    #branch-office{
        width: 45%;
    }
    #branch-office p{
        margin-top: -30px;
    }
   #social{
    margin-top: 2vw;
    display: flex;
    align-items: center;
    gap: 2vw;
   }
   #social a{
    font-size: 2vw;
    color: #fff;
   }

/* Responsive Part */

@media screen and (max-width: 600px){
    #nav{
        justify-content: space-between;
        padding: 0%;
        margin: 0 10px;
    }
    #nav a{
        display: none;
        
    }
    #logo{
        display: flex;
        padding: 5px;
    }
    #logo img{
        width: 20vw;
    }
    .ri-menu-line{
        display: block;
        font-size: 15px;
    }
    #hero{
        padding: 5vw;
    }
    .hero-logo img{
        /* margin-top: 10%; */
        width: 50vw;
    }
    .hero-soon img{
  /* width: 15vw; */
}
    .hero-text{
        font-size: 1.2vw;
    }
    #about-section{
        padding: 2vw;
        min-height: 50vh;
        /* margin-bottom: 5vw;  */
    }
    #about-section h1{
        text-align: center;
        font-size: 6vw;
    }
    .about-content{
        flex-direction: column;
        /* height: 30vh; */
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }
    
    .about-content p{
        /* text-align: center; */
        font-size: 2.5vw;
        width: 100%;
    }
    .about-content img{
        padding: 2vw;
        width: 40vw;
        height: 40vw;
        /* margin-left: 5vw; */
    }
    #Impact-section{
        height: 100vh;
    }
    #impact-nav {
                margin-top: -2vw;
      }
      .impact{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        /* justify-content: center; */
        /* padding: 2vw; */
        gap: 5vw;
      }
      .impact:nth-child(2n+1) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* justify-content: center; */
      }

    #spirit{ 
        /* padding: 0vw 25vw; */
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        margin-top: 5vw;
       }
      
      #spirit-vid{
        display: flex;
            flex-direction: column;
            gap: 1vw;
      }
      #spirit-vid video{
        
        width: 100%;
        border-radius: 10px;

      
      }
      #spirit h1{
        font-size: 5vw;
        color: #ff375a;
      }
      #spirit h3{
        display: flex;
        text-align: center;
            font-size: 2vw;
      }
      #spirit-vid p {
        text-align: center;
        font-size: 3vw;
        margin-left: 0;
      }
    
      #spirit-vid p span{
        font-size: 3.5vw;
      }
      .impact img {
        border-radius: 5%;
        width: 50vw;
        height: 30vw;
        margin-left: 0vw;
      }
      .impact-text {
        display: flex;
        flex-direction: column;
        gap: -50vw;
      }
      .impact-text h2 {
       
        font-size: 2.5vw;
      }
      .impact-text p {
       margin-top: -20px;
        font-size: 1.5vw;
      }
      #contact-section {  
        margin-top: 5vw;
        flex-direction: column;
        min-height: 50vh;
    }
    #contact-section h1{
        display: none;
    /* position: absolute; */
    font-size: 5vw;
    
    }
    #contact-left {
        display: none;
  
    }

    #contact-right {
    height: 100%;
  color: #fff;
  width: 100%;
    }
    #contact-right h1{
    display: block;
    }
    .form {
  width: 100%;
  /* height: 450px; */
  background: #ee8e8e;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  /* margin: calc(50vh - 220px) auto; */
  padding: 20px 30px;
  /* max-width: calc(100vw - 40px); */
  box-sizing: border-box;
  position: relative;
    }
    #footer{
    flex-direction: column;
    min-height: 50vh;
    gap: 1vw;
    font-size: 2.5vw;
    }
 #address{
    display: flex;
    flex-direction: column;
    gap: 6vw;
 }
 #head-office{
   width: 100%;
   display: flex;
   flex-direction: column;
  
    
 }
 #head-office p{
    margin: -10px;
    padding: 0;
 }
 #branch-office{
    display: flex;
    flex-direction: column;
    width: 100%;
 }
 #branch-office p{
    margin: -5px;
    padding: 0;
 }
 #social{
    display: flex;
    gap: 5vw;
    margin-top: 10vw;
 }
 #social a{
    font-size: 5vw;
 }
 button {
    /* float: right; */
    padding: 8px 12px;
    margin: 50px 0 0;
    border: 2px solid #78788c;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
}
